<div class="header">
    <div class="header-name">
        <h4>PERSONAL FINANCE MANAGEMENT SYSTEM</h4>
    </div>

    <div class="header-item">
        <button class="item dashboard" routerLink="dash-board">
            <img src="/assets/home.png" alt="home" class="icon"> Dashboard
        </button>
        <button class="item income" routerLink="income">
            <img src="/assets/income.png" alt="income" class="icon"> Income
        </button>
        <button class="item goals" routerLink="goals">
            <img src="/assets/goals.png" alt="goals" class="icon"> Goals
        </button>
        <button class="item achievements" routerLink="achievements">
            <img src="/assets/achivement.png" alt="achievements" class="icon"> Achievements
        </button>
        <button class="item notes" routerLink="notes">
            <img src="/assets/notes.png" alt="notes" class="icon"> Notes
        </button>
        <button class="item reports" routerLink="reports">
            <img src="/assets/reports.png" alt="reports" class="icon"> Reports
        </button>
    </div>
</div>

